
*{
    margin:0;
    padding:0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


 body {
    font-family:'Roboto' , sans-serif;
    background-color:rgb(238, 234, 234);
    } 

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-row: auto;
        grid-template-areas: "header"
                             "section"
                             "main"
                             "footer";
    }

    footer {
        grid-area: footer;
    }

    .header {
        background-color: #D99F7E;
        box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
        position: fixed;
        top:0;
        left:0;  
        bottom: 0;
        width: 100%;
        z-index:1;
        float:left; 
        height: 60px;
      
      }
      
      .header ul {
        
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #D99F7E;
      
      }
      
      .header li a {
      
        display: block;
        padding: 0.7em 0.5em;
        text-decoration: none;
        transition:.3s;
        border-bottom: 1px #f7f7f7 solid;
        color:#ffffff;  
      
      }
      
      .header li a:hover,
      .header .btn-mobile:hover {
      
        background-color: #02a1ee;
        color:#fff; 
      
      }
      
      .header .logo {
        display: block;
        float: right;
        width: 45px;
        align-items: center;
        display: flex;
        padding-top: 9px;
      }
      
      .header h1 {
          justify-content: center;
          display: flex;
          color: #fff;
          font-weight: 700;
          font-size: 30px;
          position: relative;
          left: 451px;
          bottom: 20px;
      }
      
      .header .nav {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        color: #fff;
      }
      
      /* menu icon */
      
      .header .mobile-icon {
        cursor: pointer;
        display: inline-block;
        padding: 28px 28px;
        position: relative;
        user-select: none;
      }
      
      .header .mobile-icon .hamburguer {
        background: #fcfcfc;
        display: block;
        height: 3px;
        position: relative;
        transition: background .2s ease-out;
        width: 35px;
      }
      
      .header .mobile-icon .hamburguer:before,
      .header .mobile-icon .hamburguer:after {
        background: #ffffff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
      }
      
      .header .mobile-icon .hamburguer:before {
        top: 9px;
      }
      
      .header .mobile-icon .hamburguer:after {
        top: -9px;
      }
      
      /* menu btn */
      
      .header .mobile-btn {
        display: none;
      }
      
      .header .mobile-btn:checked ~ .nav {
        max-height: 240px;
      }
      
      .header .mobile-btn:checked ~ .mobile-icon .hamburguer {
        background: transparent;
      }
      
      .header .mobile-btn:checked ~ .mobile-icon .hamburguer:before {
        transform: rotate(-45deg);
      }
      
      .header .mobile-btn:checked ~ .mobile-icon .hamburguer:after {
        transform: rotate(45deg);
      }
      
      .header .mobile-btn:checked ~ .mobile-icon:not(.steps) .hamburguer:before,
      .header .mobile-btn:checked ~ .mobile-icon:not(.steps) .hamburguer:after {
        top: 0;
      }
      
      .container {
      
        width:100%;
        float:left;
        margin-top:60px;     
      
      }
      
      .content { 
      
        align-items: center;
        width:92%; 
        margin:0 4%;  
       
      }
      
      /* 48em = 768px */
      
      @media (max-width: 268px) {
        
        .header li { float:left; }
        
        .header li a {
          
          padding: 15px 30px;
          margin-top: 10px;
          border-radius: 6px;
          color: #fcfcfc;
        
        }
      
        .header .nav {
          clear: none;
          float: right;
          max-height: none;
          color: #fcfcfc;
        }
      
        .header .mobile-icon { 
          display:none; 
      }
      
        .header li a {
        
          transition:.3s;
          border-bottom:0; 
        
        }
      
      }

select{
    width: 151.106px;
    height: 25.278px;
    flex-shrink: 0;
    border-radius:7.906px;
    border-width: 0;
    background-color: rgb(245, 245, 247);
    font-family:'Roboto' , sans-serif;
    color: rgb(85, 78, 78);
}

    .btn_icon_header {
        background: transparent;
        border: none;
        color: var(--color-white);
        cursor: pointer;
        display: none;
    }

    .footer-main {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: fixed;
        bottom: 0;
        left: 0;
        right:0;
        padding: 10px;
        background-color:rgba(166, 65, 84, 0.71); 
        height: 20px;
    }

    .footer-left {
        align-content: center;
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        position: fixed;
        bottom: 13.4px;
    }

    .footer-right {
        display: flex;
        align-items:center;
        justify-content:end;
    }
   
    section {
        grid-area: section;
    }

    .sidebar {
      height: 100%;
      width: 22cm;
      background:#fff;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      margin-top:1px;   
      margin-left:9rem;
      padding-right: 16rem;
  }

    .sidebar-text {
        text-decoration: none;
        color: rgb(85, 78, 78);
        display: flex;
        justify-content: space-between;
        align-items:center;
        flex-direction: row;
        -webkit-box-align: center;
        font-size: 14px;
        box-sizing: border-box;
        padding-left: 0; 
     
    }

    .sidebar-text-user {
        display: flex;
        margin: .625rem;
        padding: 0.2rem;
        justify-content: flex-start;
  
    }

    #img.sidebar-icon-user {
        width: 25px;
        display: absolute;
        position:relative;
        padding-left: 0;
    }
    
    .card-img-top {
        width: 400px;
    }

    .img-noti {
        width: 23px;
        position: fixed;
        top: 4.7cm;
        left: 29.4cm;
    }

    .content-course-box {
        width: 340px;
        font-weight: bold;
        box-sizing: border-box;
        float: right;
        position:fixed;
        left: 10.5cm;
        top: 12.7cm;
        margin:auto;
    }

    img.content-profile-image {
      margin-right: 210px;
      float:inline-end;
      margin-top: -19.5cm;
      width: 850px;
      margin-bottom: 0;

  } 

    table {
      margin-top: -689px;
      margin-right: 250px;
      float: right;
      max-width: 900px;
      max-height: 600px;
      width: 750px;
      height: 400px;
      font-size: 18px;
      text-align: center;
        
    }
 

    th {
        width:3cm;
        height: 1.2cm;
        align-items: center;
        color: #e7e6e6;
        background-color:rgba(201, 106, 18, 0.521);
    }

    td {
        width:3.5cm;
        height: 1.5cm;
        font-size: 15px;
        color:#504e4e;
        font-weight: bold;
        background-color:rgba(143, 121, 101, 0.521);
        text-align: center;
    }


    .content-main-image { 
        width: 500px;
        font-weight: bold;
        box-sizing: border-box;
        float: right;
        position:fixed;
        left: 10.6cm;
        top: 16.5cm;
        margin:auto;
    } 

    .content-main-curso-atual {
        width: 235px;
        font-weight: bold;
        box-sizing: border-box;
        float: right;
        position:fixed;
        left: 24cm;
        top: 16.8cm;
        margin:auto;
    }

    .content-main-card {
        width: 200px;
        font-weight: bold;
        box-sizing: border-box;
        float: right;
        position:fixed;
        left: 19.6cm;
        top: 13cm;
        margin:auto;
    }


    ul {
        width: 35vh;
        list-style: none;
        padding:0;  
    }

    li {
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        width: -webkit-fill-available;
        align-items:center;
        flex-direction: row;
        -webkit-box-align: center;
        margin:0;
        box-sizing: border-box;
    }

    h2 {
        color: #fff;
        font-weight: normal;
        font-size: 16px;
        background: rgb(217, 159, 126);
    }

    h3 {
        color: #fff;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 10px;
    }
       
    a {
        text-decoration: none;
        color: rgb(85, 78, 78);
        display: flex;
        justify-content: space-between;
        width: -webkit-fill-available;
        align-items:center;
        flex-direction: row;
        -webkit-box-align: center;
        font-size: 14px;
        box-sizing: border-box;
        transition: background 0.3s;  
        
    }

    li:hover {
        background: #9c9a998c;
    }
       
    .icon {
        margin-left: 10px;
    }

    img.sidebar-icon {
        width: 50px;
        align-items: end;
    }
