main {
    background-color: #fff;
    height: 760px;
    width: auto;
    align-items: center;
    
}

body {
    background-color: #5F5D5D !important;
    

}

#nav {
    background-color: #D99F7E;
}
h5{
    text-align: center;
    font-family: spartan, Helvetica, sans-serif;
    margin-left: 40px;
}
h4{
    text-align: center;
    font-family: spartan, Helvetica, sans-serif;
    margin-left: 60px;
}

#setaMenu {
    margin-top: 7px;
    width: 7%;
    fill: #D9D9D9;
    stroke-width: 5px;
    stroke: #FAFAFA;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.textNav {
    font-size: 22px;
    font-family: spartan, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    padding: 1px;
    margin-right: 60px;
}
.container {
    display: inline-block;
    vertical-align: middle; /* Isso alinha verticalmente os elementos */
}
#texto {
    margin-left: 220px;
 }



.inputTable2 {
    margin-left: 10px;
}



#salvar {
    background-color: #530E73;
    color: #fff;
    width: 100%;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 7px;
}

footer {
    background-color: #A64153;
    color: #fff;
    padding: 5px;
}

.footer-right {
    display: flex;
    align-items: center;
    justify-content: end;
    color: #fff;
    text-decoration: none;
}

#imgLogout {
    margin-right: 15px;
}

.footer-left {
    align-content: center;
    text-decoration: none;
    color: #fff;
}